.nav-link{
    font-size: 18px;
    padding-left:10px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
